
.box{
   background-color: var(--bg-blanco);
   padding-left: 16px; 
   padding-bottom: 10px;
   line-height: 0;
   /* margin-top: 2rem; */
   height: 34vw;
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: flex-end;

}

.box__img{
   width: 30px;
   height: 35px;
   background-repeat: no-repeat;
   background-size: contain;
}

.box__img--html{
   background-image: url(../img/logos/html-5.svg);   
}

.box__img--css{
   background-image: url(../img/logos/css.svg);
}

.box__img--javaScript{
   background-image: url(../img/logos/javaScript.svg);
}

.box__img--C-sharp{
   background-image: url(../img/logos/c-sharp.svg);
}

.box__img--visual-studio-code{
   background-image: url(../img/logos/visual-studio-code.svg);
}

.box__img--guitar{
   background-image: url(../img/logos/guitar.png);
}

.box__img--running{
   background-image: url(../img/logos/running.png);
}

.box__img--basketball{
   background-image: url(../img/logos/basketball.png);
}

.box__img--music{
   background-image: url(../img/logos/music.png);
}

.box__img--movies{
   background-image: url(../img/logos/movies.png);
}