.enlaces{
   padding: 0rem 4rem;
   border: 1px solid black;
}

.enlaces__ul{

}

.lista__item {
   display: inline-block;
   margin-right: 4rem;
}

.lista__item a{
   color: #464646;
   font-size: 16px;
   text-decoration: none;
}

.lista__item img{
   width: 10px;
   height: 10px;  
}