
.menu{
   width: auto;
   height: 10vh;
   display: flex;
   justify-content: space-between;   
   margin: 0rem 6rem;
}


.menu__item{
   display: inline-block;
   list-style-type: none;
   padding: 0.5rem 0.5rem;   
   font-size: medium;
}

.menu__item--primero{

   padding-left: 0;
}

.menu__item--ultimo{
   padding-right: 0;
}

.menu__link{
   color: #464646;
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 500;   
   line-height: 19px;
   text-decoration: none;
   
}

.menu__link--primero{
   font-weight: bold;
}

.menu__link--ultimo{
   font-weight: bold;
}