
.proyectos-todos__contenedor{
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
}

.proyectos-todos__titulo{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-top: 1rem;
}

.proyecto {
    margin: 1rem 0;
}

.proyecto__container-imagen{
    width: auto;
    height: auto;
}

.proyecto__imagen{
    width: 100%;
    height: auto;
}

.proyecto__titulo {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 8px 0;
}

.proyecto__descripcion {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0;
}

.proyecto__boton {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 8px 0;
    box-shadow: 2px 2px 2px rgba(10,10,10, 0.5);
}

.proyecto__boton:hover {
    cursor: pointer;
}

.proyecto__boton:active {
    transform: translate(2px,2px);
    box-shadow: none;
}

.proyecto__boton--repositorio {
    color: var(--texto-azul-boton);
    border: 2px solid var(--texto-azul-boton);
    padding: 12px 16px;
}

.proyecto__boton--ver-demo {
    color: var(--texto-blanco-boton);
    background-color: var(--bg-boton-azul);
    border: none;
    padding: 14px 16px;
    margin-left: 16px;
}