
.skills-hobbies{
   width: auto;
   height: auto;
}

.skills-hobbies__titulo{
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   margin: 0.5rem 0 0.5rem;
}

.skills-hobbies__container{
   margin: 0;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
}