
.skills-hobbies{
   width: auto;
   height: auto;
}

.skills-hobbies__titulo{
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 26px;
   text-align: center;
   margin: 1rem 0 2rem;
}

.skills-hobbies__container{
   margin: 0;
   display: grid;
   
   grid-template-columns: 48% 48%;
   row-gap: 2rem;
   column-gap: 4%;
   
   /* grid-template-rows: repeat(50%); */
   height: auto;
   width: auto;
   
}